<!doctype html>
<html ng-app>
  <head>
    <title>APA style</title>
    <script src="js/angular.js"></script>
    <script src="js/angular.js"></script>
    <link rel="stylesheet" href="css/style.css"/>
    <meta charset="utf-8"/>
  </head>
  <body>
    <h1>APA style</h1>
    <hr>
    <input type="text" ng-model="prenom" placeholder="Prenom"/>
    <input type="text" ng-model="nom" placeholder="Nom"/>
    <input type="text" ng-model="titre" placeholder="Titre"/>
    <input type="text" ng-model="volume" placeholder="Volume"/>
    <input type="text" ng-model="edition" placeholder="Édition"/>
    <input type="text" ng-model="pages" placeholder="Page(s)"/>
    <input type="text" ng-model="ville" placeholder="Ville"/>
    <input type="text" ng-model="editeur" placeholder="Éditeur"/>
    <input type="text" ng-model="annee" placeholder="Année"/>
    <input type="text" ng-model="titreChapitre" placeholder="Titre du chapitre"/>
    <textarea type="text" ng-model="annotations" placeholder="Annotations"></textarea>
    <div>
      {{nom}}, {{prenom}}. {{titreChapitre}}. Dans <em>{{titre}}</em> ({{edition}}e éd., Vol. {{volume}}, p. {{pages}}). {{ville}}: {{editeur}}.
    </div>
  </body>
</html>
