<!doctype html>
<html ng-app="apaStyle">
  <head>
    <title>APA style</title>
    <script src="lib/js/angular.js"></script>
    <!--<script src="lib/js/bootstrap.js"></script>-->
    <script src="js/utils.js"></script>
    <script src="js/apa-types.js"></script>
    <script src="js/apastyle.js"></script>
    <script src="js/directives.js"></script>
    <link rel="stylesheet" href="lib/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <meta charset="utf-8"/>
  </head>
  <body>
    <div ng-controller="ApaCtrl" class="container">
      <div id="page-header" class="page-header">
        <h1>APA style <small>alpha</small></h1>
      </div>
      <button ng-click="collapsesource=!collapsesource" class="btn">Source de la bibliographie</button>
      <pre ng-if="collapsesource">
        ==============
        Solution de sauvegarde temporaire en attendant l'arrivée d'une sauvegarde en ligne :
        copier coller le contenu de ce bloc dans un fichier texte.
        Une fonctionnalité de récupération devrait être disponible sous peu.
        ==============
{{bibliography|json}}
      </pre>
      <div class="well bg-info" ng-repeat="source in bibliography.sources">
        <div class="row">
          <div class="col-md-2">
            <label for="type-select-{{$index}}">Type</label>
            <select id="type-select-{{$index}}" ng-model="source.sourcetype" class="form-control">
              <option value="book">Livre</option>
              <option value="journal">Revue spécialisée</option>
              <option value="magazine">Magazine</option>
              <option value="website">Site web</option>
              <option value="newspaper">Quotidien</option>
              <option value="film">Film</option>
            </select>
          </div>
        </div>
        <source source=source source-type="source.sourcetype"></source>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <button ng-click="addSource()" class="btn btn-success">Ajouter une source</button>
        </div>
      </div>
    </div>
  </body>
</html>
