<div class="apa-line panel" ng-init="collapse=true;">
  <div class="panel-body">
    <span ng-repeat="contributor in source.contributors">
      <span ng-if="!$first">,
        <span ng-if="$last"> &amp; </span>
      </span>
      <span>
        <span ng-if="contributor.lastName">{{contributor.lastName}},</span>
        <span ng-if="contributor.firstName"> {{contributor.firstName|initiales}}</span>
      </span>
    </span>
    <span ng-if="source.annee">({{source.annee}})</span>
    <span ng-if="source.titreChapitre"> {{source.titreChapitre}}.<span ng-if="source.titreChapitre && source.titre"> Dans</span></span>
    <span ng-if="source.titre"> <em>{{source.titre}}</em></span>
    <span ng-if="source.edition || source.volume || source.pages"> (</span>
    <span ng-if="source.edition">{{source.edition}}e éd.<span ng-if="source.volume || source.pages">, </span></span>
    <span ng-if="source.volume">Vol. {{source.volume}}<span ng-if="source.pages">, </span></span>
    <span ng-if="source.pages">p. {{source.pages}}</span>
    <span ng-if="source.edition || source.volume || source.pages">). </span>
    <span ng-if="source.ville"> {{source.ville}}<span ng-if="!source.editeur">.</span></span>
    <span ng-if="source.editeur"><span ng-if="source.ville">:</span> {{source.editeur}}</span>
    <button ng-click="collapse=!collapse" class="glyphicon glyphicon-pencil btn btn-primary pull-right"></button>
  </div>
</div>
<div class="" role="form" ng-hide="collapse">
  <div ng-repeat="contributor in source.contributors">
    <div class="row">
      <div class="form-group col-md-4">
        <label for="contributor{{$index}}-prenom">Prénom</label>
        <input type="text" class="form-control" id="contributor{{$index}}-prenom" ng-model="contributor.firstName" placeholder="Entrez ici le prénom de l'auteur {{$index + 1}}"/>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <label for="contributor{{$index}}-nom">Nom</label>
        <input type="text" class="form-control" id="contributor{{$index}}-nom" ng-model="contributor.lastName" placeholder="Entrez ici le nom de l'auteur {{$index + 1}}"/>
      </div>
      <div class="form-group col-md-1">
        <button ng-click="source.removeAuthor($index)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <button ng-click="source.addAuthor()" class="btn btn-success">Ajouter un auteur</button>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label for="annee">Année</label>
      <input type="text" class="form-control" id="annee" ng-model="source.annee" placeholder="Entrez ici l'année de parution"/>
    </div>
    <div class="form-group col-md-4">
      <label for="titreChapitre">Titre du chapitre</label>
      <input type="text" class="form-control" id="titreChapitre" ng-model="source.titreChapitre" placeholder="Entrez ici le titre du chapitre"/>
    </div>
    <div class="form-group col-md-4">
      <label for="titre">Titre</label>
      <input type="text" class="form-control" id="titre" ng-model="source.titre" placeholder="Entrez ici titre du livre"/>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label for="edition">Édition</label>
      <input type="text" class="form-control" id="edition" ng-model="source.edition" placeholder="Entrez ici le numéro de l'édition"/>
    </div>
    <div class="form-group col-md-4">
      <label for="volume">Volume</label>
      <input type="text" class="form-control" id="volume" ng-model="source.volume" placeholder="Entrez ici le numéro du volume"/>
    </div>
    <div class="form-group col-md-4">
      <label for="pages">Page(s)</label>
      <input type="text" class="form-control" id="pages" ng-model="source.pages" placeholder="Entrez ici le numéro de la ou des Page(s)"/>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label for="ville">Ville</label>
      <input type="text" class="form-control" id="ville" ng-model="source.ville" placeholder="Entrez ici la ville"/>
    </div>
    <div class="form-group col-md-4">
      <label for="editeur">Éditeur</label>
      <input type="text" class="form-control" id="editeur" ng-model="source.editeur" placeholder="Entrez ici le nom de l'éditeur"/>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8">
      <label for="annotations">Annotations</label>
      <textarea type="text" class="form-control" id="annotations" ng-model="source.annotations" placeholder="Annotations"></textarea>
    </div>
  </div>
</div>
